/* ========================
   RESET
======================== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ========================
   VARIABLES
======================== */

:root {
  /* fondo principal */
  --bg: #181818;

  /* tarjetas */
  --card: #242424;

  /* color principal */
  --accent: #22f5b5;

  /* texto */
  --text: #ffffff;

  /* texto secundario */
  --text-secondary: #bdbdbd;
}

/* ========================
   APP
======================== */

body {
  font-family: Arial, Helvetica, sans-serif;

  background-color: var(--bg);

  color: var(--text);
}

#root {
  min-height: 100vh;
}

/* ========================
   APP CONTAINER
======================== */

.app-container {
  width: 100%;

  max-width: 700px;

  margin: 0 auto;
}

/* ========================
   LOGOUT
======================== */

.logout-btn {
  display: block;

  margin: 24px auto 32px auto;

  padding: 12px 20px;

  border: 1px solid #4a4a4a;

  border-radius: 8px;

  background: #2a2a2a;

  color: var(--text);

  cursor: pointer;

  transition: 0.2s;
}

.logout-btn:hover {
  border-color: var(--accent);

  color: var(--accent);
}
